h1 {
  font-family: Helvetica;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url("../pattern.jpeg");
}

h3 {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

h3.brushes{
  background-color: mediumspringgreen;
}

h3.frames {
  background-color: lightcoral;
}

h3.paint {
  background-color: skyblue;
}

h4{
  font-weight: bold;
}

span {
  font-family: Helvetica;
  font-weight: bold;
}

h4, p {
  font-family: Helvetica;
}
